.App {
	background-color: #282c34;
	width: 100%;
	height: 100%;
	overflow: auto;
	width: 100%;
	height: 100%;
	margin: 0;
}

.App::after {
	content: "";
	clear: both;
	display: table;
}

.App-Left {
	width: 50%;
	float: left;
	padding: 32px;
	width: 50%;
	height: 100%;
	position: fixed;
	left: 0;
	overflow: auto;
	background-color: #282c34;
}

.App-Right {
	width: 50%;
	float: left;
	padding: 32px;
	width: 50%;
	height: 100%;
	position: fixed;
	right: 0;
	overflow: auto;
	background-color: #282c34;
}
