html {
	background-color: #282c34;
}

.App {
	background-color: #282c34;
	color: white;
	min-height: 100vh;
}

.Side-By-Side-Container {
	padding: 16px;
	margin: auto;
	overflow: auto;
}

.Side-By-Side-Container::after {
	content: "";
	clear: both;
	display: table;
}

.Side-By-Side {
	width: 50%;
	float: left;
	padding: 16px;
}
