.EditHeaderInfo {
	margin-top: 16px;
	background-color: #bfbfcf;
}

.Header-Info-Item {
	margin-top: 8px;
}

.Header-Info-Item div:first-child {
	padding-right: 4px;
}

.Header-Info-Item div:last-child {
	padding-left: 4px;
}

#Add-Header-Info-Item {
	margin-top: 8px;
}
